# Pandas Crash Course - Series

Importing pandas

In [1]:
import numpy as np
import pandas as pd

Creating a list named labels

In [2]:
labels = ['a', 'b', 'c']

Creating a list called mylist

In [3]:
mylist = [10,20,30]

Turing mylist into an array

In [4]:
arr = np.array(mylist)

Creating a dictionary

In [5]:
d = {'a':10,'b':20,'c':30}

Creating a pandas series using mylist as the data

In [6]:
pd.Series(data=mylist)

0    10
1    20
2    30
dtype: int64

Creating a pandas series with the array as the data and labels and the index

In [8]:
pd.Series(data=arr,index=labels)

a    10
b    20
c    30
dtype: int32

Creating a pandas series putting in the data and index

In [9]:
ser1 = pd.Series([1,2,3,4],index=['USA','Germany','Russia','Japan'])

In [10]:
ser1

USA        1
Germany    2
Russia     3
Japan      4
dtype: int64

Getting the value at index USA

In [11]:
ser1['USA']

1

Creating another pandas series similar to the one above

In [12]:
ser2 = pd.Series([1,4,5,6],index=['USA','Germany','Italy','Japan'])

In [13]:
ser2

USA        1
Germany    4
Italy      5
Japan      6
dtype: int64

Adding the two series together

In [14]:
ser1 + ser2

Germany     6.0
Italy       NaN
Japan      10.0
Russia      NaN
USA         2.0
dtype: float64